<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256215545238-nae8lvqbf46a6l54m7ae0br6hvc7jnch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256215545238-nae8lvqbf46a6l54m7ae0br6hvc7jnch</string>
	<key>API_KEY</key>
	<string>AIzaSyAc80rNrSERkvjHnue0Okn-nZTxQJ62QA0</string>
	<key>GCM_SENDER_ID</key>
	<string>256215545238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohin.MovieListingApp</string>
	<key>PROJECT_ID</key>
	<string>movielistingapp-22d16</string>
	<key>STORAGE_BUCKET</key>
	<string>movielistingapp-22d16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256215545238:ios:f3db98c92caa97947019b7</string>
</dict>
</plist>